.insurance-step { padding: 16px 0; }

.insurance-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 16px;

  @media (max-width: 599px) {
    grid-template-columns: 1fr;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
